waveshare/bin/*
systemd/luna.service
systemd/luna-config.service
# built outputs from ./configure and make
bcm2835-1.71/Makefile
bcm2835-1.71/config.h
bcm2835-1.71/config.log
bcm2835-1.71/config.status
bcm2835-1.71/doc/Makefile
bcm2835-1.71/src/.deps/
bcm2835-1.71/src/Makefile
bcm2835-1.71/src/bcm2835.o
bcm2835-1.71/src/libbcm2835.a
bcm2835-1.71/stamp-h1
bcm2835-1.71/bin/*

loader/venv/
__pycache__/

*.swp

config/latitude
config/longitude
