body.embed .webgl_outer_container {
  height: 100%;
  top: 0;
}
.webgl_globe_module {
  background-color: none;
  height: 76vh;
}
.webgl_globe_module #webgl_feature {
  position: relative;
}
.webgl_globe_module #webgl_feature.hotspots .legend,
.webgl_globe_module .panels_and_gl_container > .readout,
.webgl_globe_module .panels_and_gl_container .viewer_text_area,
.webgl_globe_module .fallback_container,
.webgl_globe_module .loading_webgl {
  display: none;
}
.panels_and_gl_container {
  height: 100vh;
  display: inline-flex;
  width: 100%;
}

.webgl_outer_container {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
}
.embed_tools {
	display: none;
}