[Unit]
Description=moon e-paper controller
After=multi-user.target
Requires=network.target

[Service]
Type=idle
User=luna
ExecStart=$DIR/loader/venv/bin/python $DIR/loader/main.py "sudo $DIR/waveshare/bin/epd $VCOM 1"
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target
